@{
    ViewData["Title"] = "Adicionar";
}

<div>
    <form asp-action="Adicionar">
        <partial name="_Fornecedor" />
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </form>
</div>
